<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title> PHEFLUFFY Official</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        
    </head>
    <body>
        
        <div class="header">

            <div class="containner">
                <div class="navbar">
                    <div class="logo">
                        <a href="index.html">
                        <img src="file:///Users/panichataechasettakul/Downloads/MagicEraser_5660418_164818.PNG" width="125px"></a>
                    </div>
                    <nav>
                        <ul id="MenuItems">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="products.html">Products</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="account.html">Account</a></li>
                        </ul>
                    </nav>
                    <a href="cart.html">
                    <img src="https://cdn-icons-png.flaticon.com/512/1413/1413908.png" width="30px" height="30px" class="cart-img"></a>
                    <img src="file:///Users/panichataechasettakul/Downloads/menu_FILL0_wght400_GRAD0_opsz48.svg" class="menu-icon" onclick="menutoggle()">
                </div>
            
            </div>
        </div>
<!-- ------------add to cart-------- -->
        <div class="small-container cart">

            <div class="row">
                <div class="col-2">
                    <h2>Add To Cart</h2>
                </div>
            </div>

        </div>
        