<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title> All Products - PHEFLUFFY Official</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
        
    </head>
    <body>

        <div class="header">

            <div class="containner">
                <div class="navbar">
                    <div class="logo">
                        <a href="index.html">
                            <img src="https://profile.line-scdn.net/0h1HrAFRmabmdPOHiFcB8RMHN9YAo4FmgvNwkjADgxMwM1CCs5cAolBGhvMABmASAxIFhzUW1tMwRk" width="125px"></a>
                        </div>
                        <nav>
                            <ul id="MenuItems">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="products.html">Products</a></li>
                                <li><a href="">About</a></li>
                                <li><a href="">Contact us</a></li>
                                <li><a href="account.html">Account</a></li>
                            </ul>
                    </nav>
                    <img src="file:///Users/panichataechasettakul/Downloads/shopping_basket_FILL0_wght400_GRAD0_opsz48.svg" width="30px" height="30px">
                    <img src="file:///Users/panichataechasettakul/Downloads/menu_FILL0_wght400_GRAD0_opsz48.svg" class="menu-icon" onclick="menutoggle()">
                </div>
            </div>
        </div>

<!-- ---------single product details---------->
            <div class="small-container single-product">

                <div class="row">
                    <div class="col-2">
                        <img src="https://d.line-scdn.net/obs/r/ect/ect/image_164238751406681032019cd4890t0f20ff2a" id="ProductImg">

                        <div class="small-img-row">
                            <div class="small-img-col">
                                <img src="https://d.line-scdn.net/obs/r/ect/ect/image_164238751212560441719d05307t0f20ff28/s1280p" width="100%" class="small-img">
                            </div>
                            <div class="small-img-col">
                                <img src="https://d.line-scdn.net/obs/r/ect/ect/image_164238751205039251619cb1771t0f20ff28/s1280p" width="100%" class="small-img">
                            </div>
                            <div class="small-img-col">
                                <img src="https://d.line-scdn.net/obs/r/ect/ect/image_164238751373759100819d05309t0f20ff29/s1280p" width="100%" class="small-img">
                            </div>
                            <div class="small-img-col">
                                <img src="https://d.line-scdn.net/obs/r/ect/ect/image_164238751418555930619d05313t0f20ff2a/s1280p" width="100%" class="small-img">
                            </div>
                        </div>

                    </div>
                    <div class="col-2">
                        <a href="top.html"><p>Top</p></a>
                        <h1>Mandarin collar</h1>
                        <h4>215 ฿</h4>
                        <select>
                            <option">Select Size</option>
                            <option">S</option>
                            <option">M</option>
                        </select>
                        <input type="number" value="1">
                        <a href="" class="btn">Add To Cart</a>
                    </div>
                    <div class="col-2">
                        <h2>Product Detail</h2>
                        <p>เสื้อคอจีนลายดอกสีแดง ต้อนรับตรุษจีนรวย ๆเฮง ๆ กันไปเลยค้าบ 🧧🐯 น่ารักมาก >< 
                            มี 2 ไซส์ <br> S อก 36” ยาว 15” <br> M อก 40” ยาว 16”</p>
                    </div>
                    
                </div>

            </div>

<!-- --------title-------- -->
            <div class="small-container">
                <div class="row row-2">
                    <h2>Related Products</h2>
                    <a href="top.html"><p>View More</p></a>
                </div>
            </div>

<!-- ---------products---------- -->
             <div class="small-container">

                <div class="row">
                    
                    <div class="col-4">
                        <img src="https://obs.line-scdn.net/r/ect/ect/image_164412334886391344819ca9849t0f3b7bc4">
                        <h4>Red rose T-shirt</h4>
                        <p>300 ฿</p>
                    </div>
                    <div class="col-4">
                        <img src="https://d.line-scdn.net/lcp-prod-photo/20210428_215/1619586104204qJPFa_JPEG/7HL36PILIE1ZYLGJ89UMTQI7BANHPM.jpeg?type=s600">
                        <h4>Cool girl crop (Green)</h4>
                        <p>139 ฿</p>
                    </div>
                    <div class="col-4">
                        <img src="https://d.line-scdn.net/obs/r/ect/ect/image_166329059916372690619cb6271t105ff3d7">
                        <h4>Tiny top (Blue)</h4>
                        <p>250 ฿</p>
                    </div>
                    <div class="col-4">
                        <img src="https://obs.line-scdn.net/r/ect/ect/image_164826821992954093719d03061t0f7abaab">
                        <h4>Choco teddy crop</h4>
                        <p>270 ฿</p>
                    </div>
                </div>
             </div>

<!-- -----footer---- -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-col-1">
                            <img src="https://profile.line-scdn.net/0h1HrAFRmabmdPOHiFcB8RMHN9YAo4FmgvNwkjADgxMwM1CCs5cAolBGhvMABmASAxIFhzUW1tMwRk" >
                            <p>I miss your tan skin your sweet smile so good to me so right and how you held me in your arms that september night the first time you ever saw me cry</p>
                        </div>

                        <div class="footer-col-3">
                            <h3>Follow us</h3>
                            <ul>
                                <li>Facebook</li>
                                <li>Instagram</li>
                                <li>Shopee</li>
                                <li>Line shopping</li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <p class="Copyright">Copyright 2023 - PHEFLUFFY Official</p>
                </div>
            </div>
<!-- ---------js for toggle menu ---------- -->
            <script>
                var MenuItems = document.getElementById("MenuItems");

                MenuItems.style.maxHeight = "0px"

                function menutoggle()
                {
                    if(MenuItems.style.maxHeight = "0px")
                    {
                        MenuItems.style.maxHeight = "200px";
                    }
                    else
                    {
                        MenuItems.style.maxHeight = "0px";
                    }
                }
            </script>

    <!-- ---------js for product gallery-------- -->
            <script>
                var ProductImg = document.getElementById("ProductImg");
                var SmallImg = document.getElementsByClassName("small-img");
                    SmallImg[0].onclick = function()
                    {
                        ProductImg.src = SmallImg[0].src;
                    }
                    SmallImg[1].onclick = function()
                    {
                        ProductImg.src = SmallImg[1].src;
                    }
                    SmallImg[2].onclick = function()
                    {
                        ProductImg.src = SmallImg[2].src;
                    }
                    SmallImg[3].onclick = function()
                    {
                        ProductImg.src = SmallImg[3].src;
                    }
            </script>
    </body>
</html>