{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title> PHEFLUFFY Official</title>
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link rel="stylesheet" href="{% static 'images/MagicEraser_5660418_164818.PNG'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
        
    </head>
    <body>
        
        <div class="header">

            <div class="containner">
                <div class="navbar">
                    <div class="logo">
                        <a href="{% url 'myapp:Home'%}">
                        <img src="{% static 'images/MagicEraser_5660418_164818.PNG' %}" width="125px"></a>
                    </div>
                    <nav>
                        <ul id="MenuItems">
                            <li><a href="{% url 'myapp:Home'%}">Home</a></li>
                            <li><a href="{% url 'myapp:products'%}">Products</a></li>
                            <li><a href="{% url 'myapp:about'%}">About</a></li>
                            <li><a href="{% url 'myapp:account'%}">Account</a></li>
                            <li><a href="{% url 'myapp:logout'%}">Log Out</a></li>
                        </ul>
                    </nav>
                    <a href="{% url 'myapp:cart'%}">
                    <img src="https://cdn-icons-png.flaticon.com/512/1413/1413908.png" width="30px" height="30px" class="cart-img"></a>
                    <img src="file:///Users/panichataechasettakul/Downloads/menu_FILL0_wght400_GRAD0_opsz48.svg" class="menu-icon" onclick="menutoggle()">
                </div>
                
            </div>
        </div>
<!-- ---------single product details---------->
            <div class="small-container single-product">

                <div class="row">

                    <div class="col-2">
                        <img src="https://d.line-scdn.net/obs/r/ect/ect/image_164238751406681032019cd4890t0f20ff2a" id="ProductImg">
                        
                        <div class="small-img-row">
                            <div class="small-img-col">
                                <img src="https://d.line-scdn.net/obs/r/ect/ect/image_164238751212560441719d05307t0f20ff28/s1280p" width="100%" class="small-img">
                            </div>
                            <div class="small-img-col">
                                <img src="https://d.line-scdn.net/obs/r/ect/ect/image_164238751205039251619cb1771t0f20ff28/s1280p" width="100%" class="small-img">
                            </div>
                            <div class="small-img-col">
                                <img src="https://d.line-scdn.net/obs/r/ect/ect/image_164238751373759100819d05309t0f20ff29/s1280p" width="100%" class="small-img">
                            </div>
                            <div class="small-img-col">
                                <img src="https://d.line-scdn.net/obs/r/ect/ect/image_164238751418555930619d05313t0f20ff2a/s1280p" width="100%" class="small-img">
                            </div>
                        </div>
                    </div>

                    <div class="col-2-top">
                            <a href="{% url 'myapp:top' %}"><p>Top</p></a>
                            <h1>Mandarin collar</h1>
                            <h4>215 ฿</h4>
                        
                    <!-- -----size-------- -->
                            <div class="size">
                                <div class="select">
                                    <span class="select-txt">Select Size</span>
                                    <span class="material-symbols-outlined">expand_more</span>
                                </div>
                                <div class="option-list">
                                    <div class="option">
                                        <span class="option-txt">Small</span>
                                        <span class="option-txt">Medium</span>
                                    </div>
                                </div>
                            </div>
                       
                    <!-- --------Quantity-------- -->
                            <div class="qty">
                                <input type="number" value="1" min="1">
                                <a href="" class="btn">Add To Cart</a>
                            </div>
                    </div> 
                  
                    <div class="col-2">
                        <h2>Product Detail</h2>
                        <p>เสื้อคอจีนลายดอกสีแดง ต้อนรับตรุษจีนรวย ๆเฮง ๆ กันไปเลยค้าบ 🧧🐯 น่ารักมาก >< 
                            มี 2 ไซส์ <br> S อก 36” ยาว 15” <br> M อก 40” ยาว 16”</p>
                    </div>
                    
                </div>
            </div>

<!-- --------title-------- -->
            <div class="small-container">
                <div class="row row-2">
                    <h2>Related Products</h2>
                    <a href="{% url 'myapp:top'%}"><p>View More</p></a>
                </div>
            </div>

<!-- ---------products---------- -->
             <div class="small-container">
                <div class="row">
                    
                    <div class="col-4">
                        <img src="https://obs.line-scdn.net/r/ect/ect/image_164412334886391344819ca9849t0f3b7bc4">
                        <h4>Red rose T-shirt</h4>
                        <p>300 ฿</p>
                    </div>
                    <div class="col-4">
                        <img src="https://d.line-scdn.net/lcp-prod-photo/20210428_215/1619586104204qJPFa_JPEG/7HL36PILIE1ZYLGJ89UMTQI7BANHPM.jpeg?type=s600">
                        <h4>Cool girl crop (Green)</h4>
                        <p>139 ฿</p>
                    </div>
                    <div class="col-4">
                        <img src="https://d.line-scdn.net/obs/r/ect/ect/image_166329059916372690619cb6271t105ff3d7">
                        <h4>Tiny top (Blue)</h4>
                        <p>250 ฿</p>
                    </div>
                    <div class="col-4">
                        <img src="https://obs.line-scdn.net/r/ect/ect/image_164826821992954093719d03061t0f7abaab">
                        <h4>Choco teddy crop</h4>
                        <p>270 ฿</p>
                    </div>

                </div>
             </div>

<!-- -----footer---- -->
            <section id="footer">
                <img src="{% static 'images/MagicEraser_5660418_164818.PNG' %}" class="footer-img">
                <div class="title-text">
                <p>Contact us</p>
                </div>
            <div class="footer-row">
            <div class="footer-left">
                <h1>Account</h1>
                <a href="{% url 'myapp:account'%}"><p>Login</p></a>
                <a href="{% url 'myapp:account'%}"><p>Register</p></a>
            </div>
            <div class="footer-right">
                <h1>Get In Touch</h1>
                <p>address</p>
                <p>email</p>
                <p>tel</p>
            </div>
            </div>

            <div class="social-links">
                <a href="https://www.facebook.com/Phefluffy-110994267269264/"><i class="fa-brands fa-square-facebook fa-xl"></i></a>
                <a href="https://www.instagram.com/phefluffy/"><i class="fa-brands fa-instagram fa-xl"></i></a>
                <a href="https://shop.line.me/@317lcvbv"><i class="fa-brands fa-line fa-xl"></i></a>
                <p>Copyright - PHEFLUFFY Officials</p>
            </div>

            </section>
<!-- ---------js for toggle menu ---------- -->
            <script>
                var MenuItems = document.getElementById("MenuItems");

                MenuItems.style.maxHeight = "0px"

                function menutoggle()
                {
                    if(MenuItems.style.maxHeight = "0px")
                    {
                        MenuItems.style.maxHeight = "200px";
                    }
                    else
                    {
                        MenuItems.style.maxHeight = "0px";
                    }
                }
            </script>

    <!-- ---------js for product gallery-------- -->
            <script>
                var ProductImg = document.getElementById("ProductImg");
                var SmallImg = document.getElementsByClassName("small-img");
                    SmallImg[0].onclick = function()
                    {
                        ProductImg.src = SmallImg[0].src;
                    }
                    SmallImg[1].onclick = function()
                    {
                        ProductImg.src = SmallImg[1].src;
                    }
                    SmallImg[2].onclick = function()
                    {
                        ProductImg.src = SmallImg[2].src;
                    }
                    SmallImg[3].onclick = function()
                    {
                        ProductImg.src = SmallImg[3].src;
                    }
                    
            </script>

<!-- --------- js for size--------- -->
            <script>
                const size = document.querySelector(".size"),
                select = size.querySelector(".select"),
                option = size.querySelector(".option"),
                selecttxt = size.querySelector(".select-txt")

                //  For displaying the list

                select.addEventListener("click", ()=> size.classList.toggle("click"))

                // For selecting the option
                option.forEach(option => {
                    option.addEventListener("click", ()=>{
                        let optiontxt = option.querySelector("option-txt").innerHTML
                        selecttxt.innerHTML = optiontxt

                        // For closing list after selecting
                        size.classList.remove("click")
                    })
                });
            </script>
    </body>
</html>